APP_NAME=SIGAPP
APP_ENV=local
APP_KEY=base64:Oc/kU+xPpv1XT2iQWvzfj3m3/kXlfLRJFE1ard9ByNg=
APP_DEBUG=true
APP_URL=http://localhost:8000
# APP_DOMAIN=sigapp.test
CENTRAL_DOMAINS=localhost,127.0.0.1,sigapp-backend

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Central Database (PostgreSQL)
DB_CONNECTION=central
DB_HOST=database
DB_PORT=5432
DB_DATABASE=sigapp
DB_USERNAME=root
DB_PASSWORD=123456
DB_SSLMODE=prefer
TENANCY_CENTRAL_CONNECTION=central
TENANCY_TEMPLATE_TENANT_CONNECTION=tenant_template
TENANCY_HOST_CONNECTION=tenant_host_connection
TENANCY_TEMPLATE_SEARCH_PATH=public
TENANCY_HOST_SEARCH_PATH=public

# Session & Cache
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

# iniciar servico redis localmente * brew services start redis *
CACHE_STORE=redis

# Redis (for tenant caching and rate limiting)
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Resend Mail
MAIL_MAILER=resend
RESEND_API_KEY=
MAIL_FROM_ADDRESS="noreply@sigapp.com.br"
MAIL_FROM_NAME="${APP_NAME}"

# Stripe
STRIPE_KEY=pk_test_51Sw3BqGcvhFuedVRpoHXG4hM3gbYPKSRQr6imgarxAgGiWnQZEABkU70GDxofZGeseCUFrb14nvJrqegK6lWX1t500zKwjbqn4
STRIPE_SECRET=sk_test_51Sw3BqGcvhFuedVRlGgIkX3FV00nA84tC75Wn7i1HLgZCV2q1RLBQiNHfsFDzu47au04p0Qy1Re4t3mJWGaz68JQ00K44wmjcu
STRIPE_WEBHOOK_SECRET=whsec_5b89c66b7a2138ee8424cc48394d58800cce99c7a43722e12503eb56be6b2d71
CASHIER_CURRENCY=brl

# Sanctum
SANCTUM_STATEFUL_DOMAINS=localhost:8080,localhost:3000,sigapp.test,*.sigapp.test

# CORS (Next.js frontend)
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000

# Tenancy
TENANCY_DATABASE_PREFIX=tenant_
CASHIER_MODEL=App\Models\Central\Tenant

FRONTEND_URL=http://localhost:8080

TELESCOPE_ENABLED=true
