parameters:
	ignoreErrors:
		-
			rawMessage: 'Call to an undefined static method App\Models\Tenant\Projeto::find().'
			identifier: staticMethod.notFound
			count: 1
			path: app/Repositories/ProjetoRepository.php

		-
			rawMessage: 'Method App\Repositories\ProjetoRepository::create() has parameter $data with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: app/Repositories/ProjetoRepository.php

		-
			rawMessage: 'Method App\Repositories\ProjetoRepository::listTerrenosElegiveis() has parameter $filters with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: app/Repositories/ProjetoRepository.php

		-
			rawMessage: 'Method App\Repositories\ProjetoRepository::listTerrenosElegiveis() return type with generic interface Illuminate\Contracts\Pagination\LengthAwarePaginator does not specify its types: TKey, TValue'
			identifier: missingType.generics
			count: 1
			path: app/Repositories/ProjetoRepository.php

		-
			rawMessage: 'Method App\Repositories\ProjetoRepository::listWithFilters() has parameter $filters with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: app/Repositories/ProjetoRepository.php

		-
			rawMessage: 'Method App\Repositories\ProjetoRepository::listWithFilters() return type with generic interface Illuminate\Contracts\Pagination\LengthAwarePaginator does not specify its types: TKey, TValue'
			identifier: missingType.generics
			count: 1
			path: app/Repositories/ProjetoRepository.php

		-
			rawMessage: 'Method App\Repositories\ProjetoRepository::paginate() return type with generic interface Illuminate\Contracts\Pagination\LengthAwarePaginator does not specify its types: TKey, TValue'
			identifier: missingType.generics
			count: 1
			path: app/Repositories/ProjetoRepository.php
